.decks__title {
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: 700;
}

.decks__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.deck {
  width: 100%;
  max-width: 325px;
  height: 205px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.deck__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.deck__delete-btn {
  width: 24px;
  height: 24px;
  background: url("../images/delete.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 1;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}

.deck__count {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.decks__new-decks-btn {
  margin-top: 0;
  padding: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a80;
  background-color: #d9d9d9;
  display: flex;
  align-items: flex-start;
  width: 325px;
  height: 205px;
}

.decks__new-decks-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
