.new-deck-view {
  display: none;
}

.new-deck-view__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-deck-view__colors {
  display: flex;
  gap: 12px;
  border: none;
}

.new-deck-view__colors input {
  display: none;
}

.new-deck-view__colors label {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

/* checked FIRST */
.new-deck-view__colors input:checked + label {
  border: 2px solid black;
}

/* hover SECOND */
.new-deck-view__colors label:hover {
  transform: scale(1.05);
}

/* focus LAST */
.new-deck-view__colors input:focus + label {
  outline: 2px solid black;
}

label[for="green"] {
  background-color: #64d583;
}

label[for="blue"] {
  background-color: #91a8f9;
}

label[for="orange"] {
  background-color: #ee955e;
}

label[for="pink"] {
  background-color: #ee92d7;
}

label[for="purple"] {
  background-color: #aa8ef0;
}

label[for="yellow"] {
  background-color: #f5d770;
}

.new-deck-view__textarea {
  min-height: 200px;
  resize: vertical;
}

.new-deck-view__submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
