.wrapping-row__display-contents {
  display: contents;
}

.wrapping-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
  }
}
